.container {
  display: flex;

  width: 100vw;
  height: fit-content;

  background-color: #ffffff0a;
  color: #ffffffee
}

.tabsContainer {
  display: flex;
  
  width: 100%;
  max-width: 1450px;

  margin: auto;
  padding: 1vh;
}

.tab {
  display: flex;
  padding: 1vh;
}