.container {
  display: flex;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
}

.main {
  display: flex;
  flex: 1 1 auto;
  
  margin: 1em;
  padding-left: 1em;
  padding-right: 1em;
  
  align-items: center;
  justify-content: center;
}

.mainBackground {
  color: #00000088;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; 
  z-index: 1;
}

.fourOhFour {
  display: flex;
  flex-direction: column;
  font-size: 15rem;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  width: 80vh;

  min-height: fit-content;
  height: 80vh;
  
  margin: auto;
  padding: 1em;

  z-index: 2;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  margin: 1rem;
  padding: 1.5rem;

  color: #fff;
  text-decoration: none;
  border: 1px solid #eaeaea22;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #fff;
  border-color: #1c292e;
  background-color: #1c292e ;
}